/* style.css */
/* Import Variables first */
@import url('css/variables.css');

/* Import Global Styles (Reset, Typography, Navbar, Footer) */
@import url('css/global.css');

/* Import Sections */
@import url('css/hero.css');
@import url('css/expertise.css'); /* Added for Bento Grid */
@import url('css/timeline.css');
@import url('css/work.css');
@import url('css/experience.css');
@import url('css/education.css');
@import url('css/contact.css');
@import url('css/project-detail.css');